sim/CVS*
*.svn/*
*.DS_Store/*
.DS_Store
.depend
*.o
*.d
config
flash-49g+
flash-50g
flash-noboot
sdcard
sram
x49gp
s3c2410-sram
qemu/qemu-git/arm-softmmu
qemu/qemu-git/libhw32
qemu/qemu-git/libhw64
qemu/qemu-git/config-host.*
qemu/qemu-git/config-all-devices.mak
